{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
<form action="/register" method="post">
    <div class="mb-3">
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="username" placeholder="Username" type="text">
    </div>
    <div class="mb-3">
        <input class="form-control mx-auto w-auto" name="password" placeholder="Password" type="password">
    </div>
    <div class="mb-3">
        <input class="form-control mx-auto w-auto" name="confirmation" placeholder="Confirm Password" type="password">
    </div>
    <button id="register" class="btn btn-lg btn-primary btn-block" type="submit">Create Account</button>
</form>
<br>
<p class="mb-5 small text-center text-muted">Have an account? <a href="/login">Log In</a></p>
{% endblock %}
